body {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

#status {
    border: 2px green solid;
    width: 1000px;
    height: 20px;
    background-color: green;
}

#planeta {
    width: 300px;
    height: 20px;
    background-color: aliceblue;
}

#nav {
    width: 60px;
    height: 40px;
    background-image: url(../spacevaider/download1.jpeg);
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
}

.b {
    width: 24px;
    height: 30px;
    background-image: url(../spacevaider/a.jpg);
    position: absolute;
}

.tiro {
    width: 6px;
    height: 6px;
    background-color: aliceblue;
    border-radius: 1px;
    position: absolute;
}

.explosao {
    height: 55px;
    width: 55px;
    position: absolute;
}

´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´ .explosao1 {
    width: 70px;
    height: 70px;
    position: absolute;
}

#mensagem {
    position: absolute;
    margin-left: -25px;
    top: 50px;
    left: 50px;
    width: 720px;
    height: 620px;
    display: none´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´;
}